body {
}
.about-text{
    margin:10px;
    font-size:16px;

}
.background-banner {
    background-image: url(../Content/Img/about_banner.jpg);
    background-size: cover;
        text-align: center;
        color:#ffffff;
}