body {
}
.errorlogo
{
    background: url(../Content/Img/errorlogo.png) no-repeat top left;
     display: block;
     width: 300px;
     background-size:contain;
     margin:auto;
     height: 150px;
     text-align:center;
}
p{
    text-align:center
}