#tab-nav {
    width: 600px;
    text-align: center;
}

    #tab-nav a {
        margin-left: 25px;
        margin-right: 25px;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
    }

        #tab-nav a.selected {
            background: #ccd;
            border: 1px solid #999;
            border-radius: 4px;
        }

#forms-container #form-1-container {
    display: none;
}

#forms-container #form-2-container {
    display: none;
}
