@using DataLayer
@{
    ViewBag.Title = "Find Order Results";
}

<h3>Order</h3>

<table class="table">
    <tr>
        <th>
            Restaurant Image
        </th>
        <th>
            Restaurant
        </th>
        <th>
            Destination
        </th>
        <th>
            Delivery Fee
        </th>
        <th>
            ETA
        </th>
        <th>
            
        </th>
    </tr>
    @{

        foreach (Order item in (List<Order>)ViewBag.res)
        {
            string address = item.Contact.AddressToString();
            <tr>
                <td>
                    <img src="~/Content/UserIcon/@item.Restaurant.IconImageUrl" alt="" style="width: 150px; height: 150px;"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant.Name)
                </td>
                <td>
                    @address
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ETA)
                </td>
                <td>
                    @Html.ActionLink("Accept","AcceptOrder", new { id = item.Id})
                </td>
            </tr>
        }
    }


</table>
