@using DataLayer
@{
    ViewBag.Title = "Find Order Results";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<h3>Order</h3>

<table class="table" >
    <tr>
        <th style="vertical-align:middle">
            Restaurant Image
        </th>
        <th style="vertical-align:middle">
            Restaurant
        </th>
        <th style="vertical-align:middle">
            Destination
        </th>
        <th style="vertical-align:middle">
            Delivery Fee
        </th>
        <th style="vertical-align:middle">
            ETA
        </th>
        <th style="vertical-align:middle">
            
        </th>
    </tr>
    @{

        foreach (Order item in (List<Order>)ViewBag.res)
        {
            string address = item.Contact.AddressToString();
            <tr >
                <td style="vertical-align:middle">
                    <img src="~/Content/UserIcon/@item.Restaurant.IconImageUrl" alt="" style="width: 50px; height: 50px;"/>
                </td>
                <td style="vertical-align:middle" >
                    @Html.DisplayFor(modelItem => item.Restaurant.Name)
                </td>
                <td style="vertical-align:middle" >
                    @address
                </td>
                <td style="vertical-align:middle" >
                    @Html.DisplayFor(modelItem => item.DeliveryFee)
                </td>
                <td style="vertical-align:middle" >
                    @Html.DisplayFor(modelItem => item.ETA)
                </td>
                <td style="vertical-align:middle" >
                    @Html.ActionLink("Accept","AcceptOrder", new { id = item.Id},new { @class = "btn btn-danger"})
                </td>
            </tr>
        }
    }


</table>
