@{
    ViewBag.Title = "Contact";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/Contact.css")
</head>

<div class="background-banner">
    <br />
    <br />
    <br />
    <br />
    <h3>Contact Us</h3>
    <br />
    <br />
    <br />
    <br />
</div>

<p class="my-notice"><strong>Contact us by email below:</strong></p>

<p class="member-info">
    <strong>Taiyan Hao:</strong> <a href="mailto:th1577@nyu.edu">th1577@nyu.edu</a>
</p>
<p class="member-info">
    <strong>WeiHang Song:</strong> <a href="mailto:ws1156@nyu.edu">ws1156@nyu.edu</a>
</p>
<p class="member-info">
    <strong>Huiyu Sun:</strong> <a href="mailto:hs2879@nyu.edu">hs2879@nyu.edu</a>
</p>
<p class="member-info">
    <strong>Dongbo Xiao:</strong> <a href="mailto:dx333@nyu.edu">dx333@nyu.edu</a>
</p>