
@{
    ViewBag.Title = "Error 404 (Not Found)!";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/ErrorPage.css")
</head>

<h2>ErrorPage</h2>

<title>Error 404 (Not Found)!</title>

<p>
    <b>404.</b>
</p>
<p>
    <ins>That’s an error.</ins>
</p>

<div>
    <a href="~/Home/Index" class="errorlogo"></a>
</div>

<p>
    The request was not found.
</p>
<p>
    <ins>That’s all we know.</ins>
</p>
